

::ng-deep {
    
    body {
        max-width: 500px;
        margin: auto;
        // background: #efefef;
    }
    .p-card {
        color: white;
        text-align: center;
        background: #4682B4;
        border-radius: 5px;
	    margin-top: 12rem;
        width: 500px;
    }

    .login-img {
        width: 220px; 
        height:90px; 
        align-self: center;
    }
}

